<!-- house/house_confirm_delete.html -->
{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/house_confirm_delete.css">
{% endblock %}

{% block content %}
confirm delate
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
<script src="{% static 'houses/js/house_confirm_delete.js' %}"></script>
{% endblock %}
