{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'vehicles/css/vehicle_detail.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery-bundle.min.css">
{% endblock %}
 
{% block content %}

<div class="vehicle-detail-container">
  <div class="vehicle-gallery">
    <img id="mainVehicleImage" src="{{ vehicle.images.first.image.url }}" alt="Main Image" class="main-image">
    <span class="carted-badge {% if vehicle.is_carted %}carted{% endif %}">
        <i class="fas fa-shopping-cart"></i>
    </span>
    <div class="thumbnail-gallery">
      {% for image in vehicle.images.all %}
        <img src="{{ image.image.url }}" alt="Thumbnail" class="thumbnail" onclick="updateMainImage(this)">
      {% endfor %}
    </div>
  </div>
<div class="vehicle-info"></div>
    <h1>{{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})</h1>
    <p><strong>Price:</strong> ${{ vehicle.price }}</p>
    <p><strong>Mileage:</strong> {{ vehicle.mileage }} km</p>
    <p><strong>Engine:</strong> {{ vehicle.engine }}</p>
    <p><strong>Fuel Type:</strong> {{ vehicle.fuel_type }}</p>
    <p><strong>Color:</strong> {{ vehicle.color }}</p>
    <p><strong>Transmission:</strong> {{ vehicle.transmission }}</p>
    <p><strong>Location:</strong> {{ vehicle.location }}</p>
    <p><strong>Description:</strong> {{ vehicle.description|linebreaks }}</p>

    <a href="{% url 'cart:add_to_cart' app_label model_name vehicle.id %}">Add to Cart</a>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-zoom/2.7.1/lg-zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/2.7.1/lg-fullscreen.min.js"></script>
<script src="{% static 'vehicles/js/vehicle_detail.js' %}"></script>
{% endblock %}