{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans " My Profile | Ethiopian Sheger Market place" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>{% trans "My Profile" %}</h2>

    <div class="profile-header">
        <img src="{{ user.profile.profile_picture.url }}" alt="{% trans 'Profile Picture' %}" class="profile-picture">
        <h3>{{ user.profile.username|default:user.username }}</h3>
    </div>

    <div class="profile-details">
        <p><strong>{% trans "Username:" %}</strong> {{ user.username }}</p>
        <p><strong>{% trans "Phone Number:" %}</strong> {{ user.phone_number }}</p>
        <p><strong>{% trans "Location:" %}</strong> {{ user.profile.location|default:"-" }}</p>
        <p><strong>{% trans "Bio:" %}</strong> {{ user.profile.bio|default:"-" }}</p>
    </div>

    <div class="profile-socials">
    <h4>{% trans "Social Media" %}</h4>
    <ul>
        {% if user.profile.telegram %}
            <li><a href="https://t.me/{{ user.profile.telegram }}" target="_blank">Telegram</a></li>
        {% endif %}
        {% if user.profile.facebook %}
            <li><a href="https://facebook.com/{{ user.profile.facebook }}" target="_blank">Facebook</a></li>
        {% endif %}
        {% if user.profile.instagram %}
            <li><a href="https://instagram.com/{{ user.profile.instagram }}" target="_blank">Instagram</a></li>
        {% endif %}
        {% if user.profile.linkedin %}
            <li><a href="https://linkedin.com/in/{{ user.profile.linkedin }}" target="_blank">LinkedIn</a></li>
        {% endif %}
        {% if user.profile.imo %}
            <li><a href="https://imo.im/{{ user.profile.imo }}" target="_blank">Imo</a></li>
        {% endif %}
        {% if user.profile.tiktok %}
            <li><a href="https://tiktok.com/@{{ user.profile.tiktok }}" target="_blank">TikTok</a></li>
        {% endif %}
        {% if user.profile.email %}
            <li><a href="mailto:{{ user.profile.email }}">{{ user.profile.email }}</a></li>
        {% endif %}
    </ul>
</div>


</div>
{% endblock %}

{% block js %}
<script src="{% static 'users/js/profile.js' %}"></script>
{% endblock %}
