{% extends "base/base.html" %}

{% block title %}Manage Users{% endblock %}

{% block content %}
<h1>Manage Users</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Profile Picture</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in users %}
        <tr>
            <td>{{ profile.user.username }}</td>
            <td>{{ profile.user.phone_number }}</td>
            <td>
                <img src="{{ profile.profile_picture.url }}" width="50">
            </td>
            <td>{{ profile.location }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No users found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
