/* items/css/item_create.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.item-form-container {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.938);
}

.item-form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.item-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-group {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555555;
  background-color: #ffffff;
  width: fit-content;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: auto;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333333;
  background-color: rgba(228, 226, 226, 0.863);
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
  background-color: rgb(255, 255, 255);
}

.errorlist {
  color: #ff0000;
  font-size: 12px;
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

.help-text {
  font-size: 12px;
  color: #777777;
  margin-top: 5px;
}

.submit-btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}
